<li class="nav-item">
<a class="nav-link" href="https://news.yeahgames.net">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors">Authors</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/categories">Categories</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/contact">Contact</a>
    </li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.yeahgames.net"><i class="fa fa-server text-danger"></i>&nbsp; Network</a>
</li>
